* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6ecf0;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input,
button {
  outline: 0;
}

button {
  cursor: pointer;
}

.content {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 30px;
}

header#main-header {
  height: 46px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

header#main-header .content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

header#main-header nav ul {
  display: flex;
  list-style: none;
}

header#main-header nav ul li {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #667580;
  font-weight: bold;
  margin-left: 30px;
}

header#main-header nav ul li:first-child {
  margin-left: 0;
}

header#main-header nav ul li button {
  background: none;
  border: 0;
  margin-right: 7px;
}

header#main-header div.side {
  display: flex;
}

header#main-header div.side input {
  width: 220px;
  border: 1px solid #e6ecf0;
  height: 34px;
  padding: 0 30px 0 12px;
  border-radius: 16px;
  color: #667581;
  font-size: 12px;
  background: #f5f8fa url(/assets/search.svg) no-repeat 190px center;
}

header#main-header div.side img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 15px;
}

header#main-header div.side button {
  height: 34px;
  width: 90px;
  background: #3bb9e3;
  border: 0;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  color: #fff;

  transition: background 0.2s;
}

header#main-header div.side button:hover {
  background: #1fcfcf;
}

div.banner {
  height: 380px;
  width: 100%;
  background: #3bb9e3;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
}

div.bar {
  height: 59px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.bar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 285px;
  height: 100%;
}

div.bar .content ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}

div.bar .content ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 15px;
  position: relative;
}

div.bar .content ul li.active::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #3bb9e3;
}

div.bar .content ul li span {
  color: #667580;
  font-size: 12px;
  font-weight: bold;
}

div.bar .content ul li strong {
  color: #667580;
  font-size: 18px;
  font-weight: bold;
  margin-top: 2px;
}

div.bar .content ul li.active strong {
  color: #3bb9e3;
}

div.bar .content .action {
  display: flex;
}

div.bar .content .action button {
  height: 34px;
  width: 90px;
  background: #fff;
  border: 2px solid #3bb9e3;
  border-radius: 16px;
  margin-right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: bold;
  color: #3bb9e3;

  transition: background 0.2s;
}

div.bar .content .action button:hover {
  background: #eee;
}

div.wrapper-content {
  display: flex;
}

div.wrapper-content aside.profile {
  width: 260px;
}

div.wrapper-content aside.profile img.avatar {
  width: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -130px;
}

div.wrapper-content aside.profile h1 {
  font-size: 21px;
  color: #1f2226;
  margin-top: 10px;
}

div.wrapper-content aside.profile span {
  font-size: 14px;
  color: #53626c;
}

div.wrapper-content aside.profile p {
  font-size: 14px;
  color: #1f2226;
  margin-top: 15px;
}

div.wrapper-content aside.profile ul {
  margin-top: 20px;
  list-style: none;
}

div.wrapper-content aside.profile ul.list li {
  font-size: 14px;
  color: #657786;

  display: flex;
  align-items: center;
  margin-top: 5px;
}

div.wrapper-content aside.profile ul.list li:first-child {
  margin: 0;
}

div.wrapper-content aside.profile ul.list li img {
  margin-right: 10px;
}

div.wrapper-content aside.profile .widget {
  margin-top: 20px;
}

div.wrapper-content aside.profile .widget strong {
  font-weight: normal;
  color: #3bb9e3;
  font-size: 14px;
  display: flex;
  align-items: center;
}

div.wrapper-content aside.profile .widget strong img {
  margin-right: 5px;
}

div.wrapper-content aside.profile .followers ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

div.wrapper-content aside.profile .followers ul li {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #d0d5d9;
  flex: 1 0 auto;
  margin: 0 5px 10px 0;
}

div.wrapper-content aside.profile .images ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

div.wrapper-content aside.profile .images ul li {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background: #d0d5d9;
  flex: 1 0 auto;
  margin: 0 5px 5px 0;
}

div.wrapper-content .timeline {
  flex: 1;
  background: #fff;
  margin: 10px 20px 20px;
}

div.wrapper-content .timeline nav {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 15px;
}

div.wrapper-content .timeline nav a {
  text-decoration: none;
  color: #3bb9e3;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

div.wrapper-content .timeline nav a:first-child {
  margin: 0;
}

div.wrapper-content .timeline nav a.active {
  color: #1f2226;
}

div.wrapper-content .timeline ul.tweets {
  list-style: none;
}

div.wrapper-content .timeline ul.tweets li.user {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 15px;
  display: flex;
}

div.wrapper-content .timeline ul.tweets li.user:last-child {
  border-bottom: none;
}

div.wrapper-content .timeline ul.tweets li.user > img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

div.wrapper-content .timeline ul.tweets li.user .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

div.wrapper-content .timeline ul.tweets li.user .info strong {
  font-size: 14px;
  color: #1f2226;
}

div.wrapper-content .timeline ul.tweets li.user .info strong span {
  font-weight: normal;
  font-size: 13px;
  color: #7b8b9a;
}

div.wrapper-content .timeline ul.tweets li.user .info p {
  margin-top: 5px;
  font-size: 14px;
  color: #1f2226;
}

div.wrapper-content .timeline ul.tweets li.user .info ul.actions {
  list-style: none;
  display: flex;
  margin-top: 20px;
}

div.wrapper-content .timeline ul.tweets li.user .info ul.actions li {
  display: flex;
  align-items: center;
  color: #667580;
  font-weight: bold;
  font-size: 12px;
  margin-left: 20px;
}

div.wrapper-content
  .timeline
  ul.tweets
  li.user
  .info
  ul.actions
  li:first-child {
  margin-left: 0;
}

div.wrapper-content .timeline ul.tweets li.user .info ul.actions li img {
  margin-right: 5px;
}

div.wrapper-content aside.widgets {
  width: 290px;
  margin-top: 10px;
}

div.wrapper-content aside.widgets .widget {
  background: #fff;
  padding: 15px;
}

div.wrapper-content aside.widgets .widget .title {
  display: flex;
  align-items: baseline;
}

div.wrapper-content aside.widgets .widget .title strong {
  font-size: 18px;
  color: #1f2226;
}

div.wrapper-content aside.widgets .widget .title a {
  color: #3bb9e3;
  font-size: 12px;
  text-decoration: none;
  position: relative;
  padding-left: 10px;
}

div.wrapper-content aside.widgets .widget .title a::before {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #222;
  position: absolute;
  left: 4px;
  top: 6px;
}

div.wrapper-content aside.widgets .follow ul {
  list-style: none;
  margin-top: 10px;
}

div.wrapper-content aside.widgets .follow ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ccd6dd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

div.wrapper-content aside.widgets .follow ul li .profile {
  display: flex;
  align-items: center;
}

div.wrapper-content aside.widgets .follow ul li .profile img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

div.wrapper-content aside.widgets .follow ul li .profile .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong {
  font-size: 14px;
  color: #1f2226;
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong span {
  font-weight: normal;
  color: #9a9a9a;
}

div.wrapper-content aside.widgets .follow ul li .profile .info button {
  height: 27px;
  width: 90px;
  background: #fff;
  border: 2px solid #3bb9e3;
  border-radius: 16px;
  margin-right: 20px;
  margin-top: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: bold;
  color: #3bb9e3;

  transition: background 0.2s;
}

div.wrapper-content aside.widgets .follow ul li .profile .info button:hover {
  background: #eee;
}

div.wrapper-content aside.widgets .follow ul li > a {
  color: #ccd6dd;
  text-decoration: none;
  font-size: 14px;
}

div.wrapper-content aside.widgets .follow ul li > a:hover {
  color: #3bb9e3;
}

div.wrapper-content aside.widgets .follow > strong {
  color: #3bb9e3;
  font-weight: normal;
  font-size: 14px;
  margin-right: 10px;
}

div.wrapper-content aside.widgets .follow > strong img {
  width: 16px;
  height: 16px;
  fill: #fff;
}

div.wrapper-content aside.widgets .trends {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

div.wrapper-content aside.widgets .trends strong.hashTag {
  margin-top: 5px;
  font-size: 14px;
  color: #3bb9e3;
}

div.wrapper-content aside.widgets p.footer {
  margin-top: 15px;
  font-size: 12px;
  color: #9a9a9a;
  line-height: 16px;
}
